/* ------------------------------------------------------------- */
/* ############# Responsive Web Design - Media Queries #############  */
/* ------------------------------------------------------------- */


/* ##################### 1201px to more ####################### */


/* ##################### 1025px to 1200px ####################### */

@media (min-width: 1025px) and (max-width: 1200px) {
.navbar
{
    grid-template-columns: 15rem 3rem 4rem 4rem 3rem 4rem 4rem 5rem 4rem 6rem 8rem;
}
.cover_image 
{
    width: 100%;
    height: 25rem;
}
.head_text {
    line-height: 3.7rem;
    letter-spacing: 2px;
    margin-top:0rem;
    padding-top: 1rem;
}
.head2_img {
    padding-left: 4rem;
}
.head2_img img {
    height: 223px;
    width: 26rem;
}
.head2_text {
    grid-template-rows: 7rem;
    padding-top: 3rem;
    margin: 1rem;
    padding-right: 2rem;
}
.head2_img_text {
  width: 100%;
}
.holder {
    width: 100%;
}
.card {
   justify-content: space-around;
    width: 300px;
}
.card_holder {
    grid-template-columns: 20rem 20rem 20rem;
    width: 100%;
    padding: 0rem;
    margin: 2rem;
}
.white_card_holder {
    width: 100%;
}
.head_container {
    width: 100%;
}
.white_main_head
 {
    margin: 2.2rem; 
    padding-left: 1rem;
    width: 160%;
}

.white_text_head {
    padding-right: 5rem;
}

.card_wrapper {
    width: 310px;
    height: 347px;
}
.list_card {
 
    grid-template-columns: 20rem 20rem 20rem;
   
}
.guide_title {
    padding: 17px;
    margin-top: 22px;
}
.textwhite a {
    padding: 0.2rem 10px;
}
.footer_text {

    margin-left: 1rem;
}
.footer_text1 {

    margin-left: 1rem;
}
.footer_top {

    right: 0rem;
    width: 517px;
    height: 480px;
    margin-top: 4rem;
}

}





/* ##################### 769px to 1024px ####################### */

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        grid-template-columns: 15rem 2rem 2rem 3rem 2rem 3rem 2rem 2rem 2rem 3rem 6rem;
        height: 110px;
        font-size: .6rem;
    }

    .nav_signUp_btn {
        height: 2rem;
        width: 5rem;
        padding-top: 0.6rem;
        
    }
    .cover_image {
        height: 23rem;
    }
    .head_text {
        font-size: 1.3rem;
        line-height: 2.7rem;
        letter-spacing: 2px;
        padding-top: 2rem;
    }
    
    .head_para {
    font-size: .8rem;
    }
    .head_btn {
        font-size: 19px;
    }
    .head2_img_text {
      height: 48vh;   
    }
    .head2_img {
        margin: 1rem;
        padding-top: 3rem;
        padding-left: 2rem;
    }
    .head2_img img {
        height: 186px;
        width: 17rem;
    }
    .head2_text {
        grid-template-rows: 5rem 7rem;
        font-size: .7rem;
        padding-top: 3rem;
        padding-left: 0rem;
        margin: 1rem;
        padding-right: 3rem;
    }
    .card_head {
        font-size: 1rem;
    }
    .card_holder {
        grid-template-columns: 15rem 15rem 13rem;
        padding: -1rem;
        margin: 0rem;
    }
    .card {
        justify-content: space-around;
        width: 206px;
    }
    .card_text {
        font-size: 0.7rem;
        padding: 1rem;
    }
    .head_container {
        padding-top: 1rem;
    }
    .white_main_head {
        font-size: 1rem;
        margin-top: 2.7rem;
        padding-left: 2rem;
        margin-left: 1rem;
    }
    .white_text_head {
        padding-top: 3rem;
        padding-right: 3rem;
        font-size: 0.7rem;
    }
    .list_card {
        grid-template-columns: 15rem 15rem 15rem;
    }
    .card_wrapper {
        padding: 3px;
        width: 220px;
        height: 282px;
    }
    .guide_title {
        padding: 19px;
        margin-top: 25px;
    }
    .card_name {
        font-size: 19px;
        line-height: 1.1rem;
        margin-top: 11px;
        margin-bottom: 8.5px;
    }
    .card_para_1 {
        font-size: 0.7rem;
    }
    .learn {
        margin-top: 8px;
        font-size: 12px;
    }
    .card_name_id {
        font-size: 19px;
        line-height: 1.1rem;
        margin-top: 11px;
        margin-bottom: 8.5px;
    }
    .card_para_1_id {
        font-size: 0.7rem;
    }
    .textwhite a {
        padding: 0.3rem 2rem;
        margin-top: 2rem;
    }
    .main_footer_top {
        top: -0.1rem;
    }
    .footer_text {
        width: 326px;
        margin-top: 4rem;
        margin-left: 1rem;
    }
    .footer_text h1 {
        font-size: 1.8rem;
        word-spacing: 10px;
        line-height: 2rem;
        letter-spacing: 2px;
    }
    .fa-brands {
        padding-top: 7px;
        padding-left: 15px;
        font-size: 1rem;
    }
    .footer_para_div {
        padding-top: 1rem;
        margin-top: 12px;
    }
    .footer_para {
        font-size: .9rem;
        padding: 0.3rem 1rem;
    }
    .footer_text1 {
        width: 329px;
        margin-top: 4rem;
        margin-left: 1rem;
    }
    .footer_text1 h1 {
        font-size: 1.8rem;
        word-spacing: 1px;
        line-height: 3rem;
        letter-spacing: 2px;
    }
    .footer_para_div1 {
        padding-top: 1rem;
        margin-top: 11px;
    }
    .footer_para1 {
        font-size: .9rem;
        padding: 0.3rem 1rem;
    }
    .footer_top {
        right: 0rem;
        width: 377px;
        height: 470px;
        margin-top: 2rem;
    }
    .footerP_Head {
        margin: 1rem;
        font-size: 1rem;
        letter-spacing: 7px;
    }
    .footer_span {
        font-size: 1.8rem;
        letter-spacing: 0px;
    }
    .supoorts a {
        margin-left: 1rem;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
        opacity: 0.8;
    }
    .footer_last_para {
        margin-left: 1rem;
        margin-top: 2rem;
        font-size: .8rem;
        letter-spacing: 0.5px;
        opacity: 0.9;
    }
    .footer_last_para1 {
        margin-left: 1rem;
        margin-top: 1.5rem;
        font-size: .8rem;
        letter-spacing: 0.5px;
        opacity: 0.9;
    }
    
}




/* ##################### 481px to 768px ####################### */

@media (min-width: 481px) and (max-width: 768px) {
    .navbar {
        grid-template-columns: 15rem 2rem 2rem 3rem 2rem 3rem 2rem 2rem 2rem 3rem 6rem;
        height: 110px;
        font-size: .6rem;
    }

    .nav_signUp_btn {
        height: 2rem;
        width: 5rem;
        padding-top: 0.6rem;
        
    }
    .cover_image {
        height: 23rem;
    }
    .head_text {
        font-size: 1.3rem;
        line-height: 2.7rem;
        letter-spacing: 2px;
        padding-top: 2rem;
    }
    
    .head_para {
    font-size: .8rem;
    }
    .head_btn {
        font-size: 19px;
    }
    .head2_img_text {
      height: 48vh;   
    }
    .head2_img {
        margin: 1rem;
        padding-top: 3rem;
        padding-left: 2rem;
    }
    .head2_img img {
        height: 186px;
        width: 17rem;
    }
    .head2_text {
        grid-template-rows: 5rem 7rem;
        font-size: .7rem;
        padding-top: 3rem;
        padding-left: 0rem;
        margin: 1rem;
        padding-right: 3rem;
    }
    .card_head {
        font-size: 1rem;
    }
    .card_holder {
        grid-template-columns: 15rem 15rem 13rem;
        padding: -1rem;
        margin: 0rem;
    }
    .card {
        justify-content: space-around;
        width: 206px;
    }
    .card_text {
        font-size: 0.7rem;
        padding: 1rem;
    }
    .head_container {
        padding-top: 1rem;
    }
    .white_main_head {
        font-size: 1rem;
        margin-top: 2.7rem;
        padding-left: 2rem;
        margin-left: 1rem;
    }
    .white_text_head {
        padding-top: 3rem;
        padding-right: 3rem;
        font-size: 0.7rem;
    }
    .list_card {
        grid-template-columns: 15rem 15rem 15rem;
    }
    .card_wrapper {
        padding: 3px;
        width: 220px;
        height: 282px;
    }
    .guide_title {
        padding: 19px;
        margin-top: 25px;
    }
    .card_name {
        font-size: 19px;
        line-height: 1.1rem;
        margin-top: 11px;
        margin-bottom: 8.5px;
    }
    .card_para_1 {
        font-size: 0.7rem;
    }
    .learn {
        margin-top: 8px;
        font-size: 12px;
    }
    .card_name_id {
        font-size: 19px;
        line-height: 1.1rem;
        margin-top: 11px;
        margin-bottom: 8.5px;
    }
    .card_para_1_id {
        font-size: 0.7rem;
    }
    .textwhite a {
        padding: 0.3rem 2rem;
        margin-top: 2rem;
    }
    .main_footer_top {
        top: -0.1rem;
    }
    .footer_text {
        width: 326px;
        margin-top: 4rem;
        margin-left: 1rem;
    }
    .footer_text h1 {
        font-size: 1.8rem;
        word-spacing: 10px;
        line-height: 2rem;
        letter-spacing: 2px;
    }
    .fa-brands {
        padding-top: 7px;
        padding-left: 15px;
        font-size: 1rem;
    }
    .footer_para_div {
        padding-top: 1rem;
        margin-top: 12px;
    }
    .footer_para {
        font-size: .9rem;
        padding: 0.3rem 1rem;
    }
    .footer_text1 {
        width: 329px;
        margin-top: 4rem;
        margin-left: 1rem;
    }
    .footer_text1 h1 {
        font-size: 1.8rem;
        word-spacing: 1px;
        line-height: 3rem;
        letter-spacing: 2px;
    }
    .footer_para_div1 {
        padding-top: 1rem;
        margin-top: 11px;
    }
    .footer_para1 {
        font-size: .9rem;
        padding: 0.3rem 1rem;
    }
    .footer_top {
        right: 0rem;
        width: 377px;
        height: 470px;
        margin-top: 2rem;
    }
    .footerP_Head {
        margin: 1rem;
        font-size: 1rem;
        letter-spacing: 7px;
    }
    .footer_span {
        font-size: 1.8rem;
        letter-spacing: 0px;
    }
    .supoorts a {
        margin-left: 1rem;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
        opacity: 0.8;
    }
    .footer_last_para {
        margin-left: 1rem;
        margin-top: 2rem;
        font-size: .8rem;
        letter-spacing: 0.5px;
        opacity: 0.9;
    }
    .footer_last_para1 {
        margin-left: 1rem;
        margin-top: 1.5rem;
        font-size: .8rem;
        letter-spacing: 0.5px;
        opacity: 0.9;
    }
}



/* ##################### 320px to 480px ####################### */

@media (min-width: 320px) and (max-width: 480px) {
    
    
}



/* ##################### 280px to 321px ####################### */

@media (max-width: 321px) {}


/* --------------------------------------- */
